<div class="card">
  <div class="card-body d-flex p-0">
    <div class="leftbar">
      <img src="{{profileUser.image}}" style="width: 350px; height: 350px; object-fit:cover">
    </div>
    <div class="rightbar ml-5 mt-2">
      <h3 class="name">{{profileUser.name}}</h3>
      <h4 class="email">{{profileUser.email}}</h4>
      <h4 class="commentNum">{{commentNum}} 已評論餐廳</h4>
      {{#ifCond profileUser.id user.id}}
      <a href="/users/{{../profileUser.id}}/edit" class="btn btn-primary">Edit</a>
      {{/ifCond}}
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header">
    {{commentNum}} 已評論餐廳
  </div>
  <div class="card-body">
    {{#each comment}}
    <div class="restaurant-image" style="display: inline;">
      <img src="{{this.Restaurant.image}}" alt="" class="mx-1" style="width:100px; height:100px; object-fit:cover">
    </div>
    {{/each}}
  </div>
</div>